# Environment variables
.env
.evn

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Test output
test-output.txt

# Clone folders
logistics-routing-system-clone/

# Vercel
.vercel

